<div class="container flex column c-ai c-jc">
    <mdc-card>
        <div class="content flex column">
            <h3>ورود به حساب کاربری</h3>
            <p>با نام کاربری و رمزعبور می توانید وارد حساب کاربری خود شوید.</p>
            <mdc-form-field fluid>
                <mdc-text-field type="tel" [(ngModel)]="username" (keyup.enter)="submit()"
                    label="نام کاربری" outlined required autocomplete="off">
                </mdc-text-field>
                <mdc-helper-text persistent>نام کاربری شما کد ملی شما می باشد.</mdc-helper-text>
            </mdc-form-field>
            <br>
            <mdc-form-field fluid>
                <mdc-text-field type="password" [(ngModel)]="password" (keyup.enter)="submit()"
                    label="رمزعبور" outlined required autocomplete="off">
                </mdc-text-field>
                <mdc-helper-text persistent>رمزعبور شما امکان دارد کد ملی شما باشد.</mdc-helper-text>
            </mdc-form-field>
            <button mdc-button secondary raised [disabled]="loading" (click)="submit()">ورود</button>
        </div>
        <mdc-card-actions *ngIf="sent == true">
            <span class="back" (click)="sent = false">ویرایش شماره موبایل</span>
            <span class="timer" *ngIf="time != 0">{{time}}</span>
            <button mdc-fab mini (click)="send()" *ngIf="time == 0">
                <mdc-icon>refresh</mdc-icon>
            </button>
        </mdc-card-actions>
    </mdc-card>
</div>