mdc-card {
    position: relative;
    margin: 15px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

mdc-card mdc-icon {
    background-color: #f3f3f3;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mdc-card h2 {
    margin: 0;
}

mdc-card h2 span {
    font-size: .8rem;
}

mdc-card h3 {
    margin: 0;
    font-size: 1rem;
    color: #888;
}

mdc-card ol {
    line-height: 24px;
}

mdc-card button{
    margin-right: auto;
}

@media only screen and (min-width: 601px) {
    mdc-card{
        min-width: 400px;
    }
}