div.content {
    padding-top: 70px;
    padding-right: 260px;
    transition: all .2s;
}

div.content.no-drawer {
    padding-right: 0;
    transition: all .2s;
}

mdc-linear-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

app-splash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

@media only screen and (max-width: 600px) {
    div.content {
        padding-right: 0 !important;
    }
}